html,
body {
	font-family: Helvetica, sans-serif;
	height: 100%;
	padding: 0;
	margin: 0;
	background: #1B1B1B;
	color: white;
}
body {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.app-informational-overlay {
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.two-column-layout {
	display: flex;
	flex-direction: row;
	margin-bottom: 1em;
}
@media (max-width: 60em) {
	.two-column-layout {
		flex-direction: column;
	}
}
@media (max-width: 75em) and (max-height: 55em), print {
	#fork-me-on-github {
		display: none;
	}
}
.midi-device-status:after {
	content: "";
	display: inline-block;
	vertical-align: center;
	width: 8px;
	height: 8px;
	border-radius: 50%;
}
.midi-device-connected .midi-device-status:after {
	background: lime;
}
.midi-device-disconnected .midi-device-status:after {
	background: red;
}
.error-message {
	background: maroon;
	color: white;
	padding: 1em;
}
.error-message pre {
	margin: 0;
	margin-top: 1em;
}
