html,
body {
	font-family: Helvetica, sans-serif;
	height: 100%;
	padding: 0;
	margin: 0;
	background: #1B1B1B;
	color: white;
	line-height: 1em;
}
body {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.app-informational-overlay {
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.two-column-layout {
	display: flex;
	flex-direction: row;
	margin-bottom: 1em;
}
@media (max-width: 60em) {
	.two-column-layout {
		flex-direction: column;
	}
}
@media (max-width: 75em) and (max-height: 55em), print {
	#fork-me-on-github {
		display: none;
	}
}
.midi-port-status:after {
	content: "";
	display: inline-block;
	vertical-align: center;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: red;
}
.midi-port-is-open .midi-port-status:after {
	background: lime;
}
.midi-port.midi-device-is-disconnected {
	text-decoration: line-through;
}
#midi-devices {
	min-width: 250px;
}

.error-message {
	background: maroon;
	color: white;
	padding: 1em;
}
.error-message pre {
	margin: 0;
	margin-top: 1em;
}
#midi-exporting {
	margin-top: 1em;
}
#cant-export-midi {
	color: gray;
}
.supported {
	color: lime;
}
.unsupported {
	color: #e83636;
}
input:invalid {
	background: #e83636;
	color: white;
}
button {
	vertical-align: middle;
	display: inline-flex;
	padding: 5px 10px;
	line-height: 0.8;
	height: 2em;
	width: 10em;
	justify-content: center;
	align-items: center;
}
button svg {
	margin-right: 5px;
	height: 1em;
}
button svg path {
	fill: currentColor;
}
