html,
body {
	font-family: Helvetica, sans-serif;
	height: 100%;
	padding: 0;
	margin: 0;
	background: #1B1B1B;
	color: white;
	line-height: 1em;
}
body,
#fullscreen-target {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.app-informational-overlay {
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.two-column-layout {
	display: flex;
	flex-direction: row;
	margin-bottom: 1em;
}
@media (max-width: 60em) {
	.two-column-layout {
		flex-direction: column;
	}
}
.two-column-layout p {
	max-width: 25em;
}
@media (max-width: 75em) and (max-height: 55em), print {
	#fork-me-on-github {
		display: none;
	}
}
.midi-port-status:after {
	content: "";
	display: inline-block;
	vertical-align: center;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: red;
}
.midi-port-is-open .midi-port-status:after {
	background: lime;
}
.midi-port.midi-device-is-disconnected {
	text-decoration: line-through;
}
#midi-devices {
	min-width: 250px;
}

.error-message {
	background: maroon;
	color: white;
	padding: 1em;
}
.error-message pre {
	margin: 0;
	margin-top: 1em;
}
fieldset {
	border: 2px solid gray;
	border-radius: 8px;
	/*box-shadow: 0 0 0 2px black, 0 0 0 2px inset black;*/
	box-shadow: 0 0 0 4px #2a2a2a;
	background: rgba(50, 50, 50, 0.5);
	padding: 1em;
	padding-bottom: 1.5em; /* to balance with the top which has the <legend> */
}
legend {
    background-color: #2a2a2a;
    color: #eee;
    padding: 3px 6px;
	border-radius: 2px;
}
#midi-exporting {
	margin-top: 1em;
}
#no-notes-recorded-message {
	color: gray;
}
ul.bullets-in-items {
	list-style-type: none;
	padding: 0;
}
li {
	padding: 2px 0;
}
.supported {
	color: lime;
}
.caveat {
	color: #ff5d5d;
}

.button-functional {
	border: none;
	background: none;
}
.button-functional,
.button-visual {
	vertical-align: middle;
	display: inline-flex; /* Note: overrides display: none implicit style from "hidden" attribute*/
	justify-content: center;
	align-items: center;
}

.button-visual {
	line-height: 0.8;
	height: 1.5em;
	width: 10em;

	font-size: 14px;
	font-weight: bold;
	background-color: #434343;
	background-image: linear-gradient(100% 100% 90deg, #515151, #7A7A7A);
	border: none;
	border-radius: 4px;
	box-shadow: inset 0 1px 2px rgba(255,255,255,0.2), 0 1px 0 #2D2D2D, 0 2px 0 #2D2D2D, 0 3px 0 #2C2C2C, 0 4px 0 #2A2A2A, 0 0 0 2px black, 0 4px 0 2px black, 0 0 0 3px #222, 0 4px 0 3px #222;
	padding: 9px 16px;
	margin-bottom: 3px;
	color: #ddd;
}

.button-functional:disabled .button-visual {
	color: #555;
	background: #222;
	box-shadow: inset 0 1px 2px rgba(255,255,255,0.05), 0 4px 0 #111, 0 0 0 2px black, 0 4px 0 2px black, 0 0 0 3px #222, 0 4px 0 3px #222;
}

.button-functional:enabled:hover .button-visual { color: white }

.button-functional:enabled:active .button-visual {
	margin-top: 3px;
	margin-bottom: 0px;
	/*box-shadow: inset 0 1px 2px rgba(255,255,255,0.2), 0 1px 0 #2A2A2A, 0 -3px 0 2px black, 0 1px 0 2px black, 0 -3px 0 3px #222, 0 1px 0 3px #222;*/
	box-shadow: inset 0 1px 2px rgba(255,255,255,0.2), 0 1px 0 #2A2A2A, 0 1px 0 2px black, 0 1px 0 3px #222;
} 

.button-functional {
	outline: none;
}
.button-functional:focus .button-visual {
	/*box-shadow: 0 0 2px blue;*/
	outline: 2px auto #2b8ce2;
	outline: 2px auto -webkit-focus-ring-color;
}

button[hidden] {
	visibility: hidden;
}
button svg {
	margin-right: 5px;
	height: 1em;
	width: 1em;
}
#learn-range-or-apply-button svg {
	height: 1.5em;
	width: 3em;
}
#fullscreen-button svg path {
	fill: currentColor;
}

input {
	background: #111;
	color: white;
	padding: 4px;
	width: calc(4ch + 20px);
	border: 1px solid #5f5f5f;
	border-radius: 2px;
}
input:disabled {
	color: #555;
	background: #111;
	border-color: #333;
}
input:invalid {
	background: #e83636;
	color: white;
}

a {
	color: #00ceff;
}
